form    {
margin:auto;
position:relative;
line-height: 24px;
color: #09C;
text-decoration: none;
}

input    {
width:auto;
margin: 5px;
background-color: #fff;
}

textarea:focus, input:focus {
border: 1px solid #09C;
}